$brand-primary-color: #1d66dd;
$brand-secondary-color: #e81a1a;

$color--black: #333333;
$color--white: #ffffff;

$color-grey-100: #333333;
$color-grey-90: #484848;
$color-grey-80: #5c5c5c;
$color-grey-70: #717171;
$color-grey-60: #707070;
$color-grey-50: #c2c2c2;
$color-grey-40: #f7f7f7;
$color-grey-30: #ebebeb;

$color-blue-70: #164da6;
$color-blue-60: #1d66dd;
$color-blue-50: #4a85e4;
$color-blue-40: #77a3eb;
$color-blue-30: #a5c2f1;
$color-blue-20: #d2e0f8;
$color-blue-10: #f2f7ff;

$color-lp-grey: #b6b6b6;
$color-outline-grey: #dfdfdf;
$color-washed-blue: #4b87e0;
$color-pastel-blue: #73a9ea;
$color-barely-blue: #e4eefd;
$color-darker-blue: #06409f;
$color-darker-red: #ea4b4b;
$color-pastel-red: #ef6767;
$color-light-green: #c9ffd5;
$color-green: #00bd56;
$color-orange: #f39c12;
