@import "../../styles/tokens/all";

.navbar__wrapper {
  @include surface("2", null);
  border-radius: $space--2xs;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
